!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
$RECYCLE.BIN/
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/doc/api/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.symlinks/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/app.flx
**/ios/Flutter/App.framework
**/ios/Flutter/app.zip
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
*.7z
*.ap_
*.apk
*.bak
*.bz2
*.bzip
*.cab
*.class
*.ctxt
*.dart.js
*.deb
*.dex
*.dmg
*.dSYM
*.dSYM.zip
*.ear
*.egg
*.elc
*.gem
*.gho
*.gz
*.hmap
*.iml
*.info.json
*.ipa
*.ipr
*.iso
*.iws
*.jar
*.js
*.js.deps
*.js.map
*.js_
*.lnk
*.lock
*.log
*.lzma
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msix
*.msm
*.msp
*.nar
*.ori
*.orig
*.pbxuser
*.perspectivev3
*.pyc
*.rar
*.rel
*.rpm
*.stackdump
*.stTheme.cache
*.sublime-workspace
*.swp
*.tar
*.tar.gz
*.tgz
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.war
*.xccheckout
*.xcscmblueprint
*.xpi
*.xz
*.zip
*_archive
*_flymake.*
*~
.\#*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.atom/
.buildlog
.buildlog/
.cask/
.com.apple.timemachine.donotpresent
.dart_tool/
.directory
.dir-locals.el
.DocumentRevisions-V100
.DS_Store
.externalNativeBuild
.flutter-plugins
.fseventsd
.fuse_hidden*
.gradle
.gradle/
.gradletasknamecache
.history
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/build_file_checksums.ser
.idea/dictionaries
.idea/gradle.xml
.idea/httpRequests
.idea/libraries
.idea/replstate.xml
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/
.java-version
.jenv-version
.LSOverride
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.navigation/
.netrwhist
.nfs*
.org-id-locations
.packages
.project
.projectile
.pub/
.pub-cache/
.Spotlight-V100
.svn/
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/
.vscode/*
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/build/
/elpa/
/eshell/history
/eshell/lastdir
/server/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
\#*\#
atlassian-ide-plugin.xml
auto-save-list
bh_unicode_properties.cache
bin/
build/
buildNumber.properties
captures/
Carthage/Build
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
dependency-reduced-pom.xml
DerivedData/
dist/
doc/api/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
flycheck_*.el
freeline.py
freeline/
freeline_project_description.json
gen/
GitHub.sublime-settings
google-services.json
gradle-app.setting
hs_err_pid*
Icon
iOSInjectionProject/
local.properties
Network Trash Folder
oscrypto-ca-bundle.crt
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.cache/
Package Control.ca-list
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
proguard/
pubspec.lock
release.properties
Session.vim
sftp-config.json
tags
target/
Temporary Items
Thumbs.db
tramp
xcuserdata/